@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
<div id="HomePageCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#HomePageCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#HomePageCarousel" data-slide-to="1" ></li>
        <li data-target="#HomePageCarousel" data-slide-to="2" ></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="img/5459e1d94eb23_2560x1600.jpg" alt="First slide"/>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="img/5556c9b21b28a_1920x1200.jpg" alt="First slide"/>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="img/58389366e613c_1920x1200.jpg" alt="First slide"/>
        </div>
    </div>
    <a class="carousel-control-prev" href="#HomePageCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#HomePageCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
</div>
