@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sing Up</h1>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        //partial layout for login
        <partial name ="_LoginPartial"/>
    </div>
</div>